.register-container {
  margin: 0 auto;
  text-align: right;
  width: 23%;
  margin-top: 4%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  box-shadow: 3px 3px #b2afaf;
  Padding-bottom: 20px;
}
input {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3%;
  height: 48px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(59, 89, 153, 1);
  border-radius: 0 0 5px 5px;
}
.frist-name,
.last-name,
.email,
.password,
.sign-up {
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
/* .register-container input:first-child {
    margin-top: 30%;
  } */
input::-webkit-input-placeholder {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input:focus::-webkit-input-placeholder,
input:valid::-webkit-input-placeholder {
  color: rgba(59, 89, 153, 1);
  font-size: 11px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.or {
  text-align: center;
}
.facebook,
.google,
.sign-up {
  border-bottom: none !important;
  font-weight: bold;
  font-size: 15px;
  color: #d9d3d3;
}
.facebook {
  background-color: rgba(59, 89, 153, 1);
}
.google {
  background-color: rgba(221, 75, 57, 1);
}
.sign-up {
  color: rgba(221, 75, 57, 1);
  background-color: transparent !important;
  border: 1px solid rgba(221, 75, 57, 1) !important;
  margin-top: 17px !important;
}
.or {
  color: rgba(59, 89, 153, 1);
  font-size: 15px;
  font-weight: bold;
}
p.login{
text-align: center;
margin-top: 10px;
}
p.login span{
  color:rgba(59, 89, 153, 1);
  font-weight:bold;
 
}
p.login span:hover{
  text-decoration: underline;

}