/* .carousel-indicators li
{
overflow: hidden;
text-indent: 0;
}
.carousel-indicators {
    width: 100%;
    position: static;
    margin-left: 0%;
    }
     */
     /* .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 0;
        background-color: #5555 !important;
    }
    
     */
     .carousel-control.right, .carousel-control.left {
        background-image: none !important;
    }
    /* .carousel-control.left {
        right: auto;
        left: 0;
        background-repeat: repeat-x;
        } */
        .carousel-inner{

        }
        .carousel-inner>.item>img, .carousel-inner>.item>a>img {
            display: block;
            height: 500px;
            /* max-width: 100%; */
            line-height: 1;
            width: 100%; 
            }
